Repository danieleschmidt/lexgraph-legal-rag, changes with the owners that .github/CODEOWNERS names for each.
All owners: @terragon-labs/maintainers, @terragon-labs/core-developers, @terragon-labs/backend-team, @terragon-labs/security-team, @terragon-labs/technical-writers, @terragon-labs/devops-team, @terragon-labs/platform-team, @terragon-labs/sre-team, @terragon-labs/qa-team, @terragon-labs/performance-team, @terragon-labs/legal-team, @terragon-labs/community-team

feat: implement advanced SDLC enhancements and workflow documentation
  .devcontainer/setup.sh
  .github/codeql/codeql-config.yml
  docs/ADVANCED_WORKFLOW_SETUP.md
Owners: @terragon-labs/maintainers, @terragon-labs/technical-writers

feat: implement advanced SDLC optimization and modernization enhancements
  ADVANCED_AUTOMATION.md
  ARCHITECTURE_MODERNIZATION.md
  GOVERNANCE_COMPLIANCE.md
  PERFORMANCE_OPTIMIZATION.md
  TECHNICAL_DEBT.md
  TERRAGON_AUTONOMOUS_SDLC_REPORT.md
Owners: @terragon-labs/technical-writers

feat: implement advanced SDLC optimization and intelligent automation
  docs/ADVANCED_OPTIMIZATION_SUMMARY.md
  docs/workflows-ready-to-deploy/README.md
  docs/workflows-ready-to-deploy/advanced-performance.yml
  docs/workflows-ready-to-deploy/advanced-security.yml
  docs/workflows-ready-to-deploy/intelligent-deployment.yml
  pyproject.toml
  requirements-dev.in
Owners: @terragon-labs/technical-writers, @terragon-labs/maintainers

feat(autonomous-sdlc): add autonomous value discovery and execution system
  .terragon/autonomous-executor.py
  .terragon/config.json
  .terragon/config.yaml
  .terragon/continuous-value-loop.sh
  .terragon/simple-discovery-engine.py
  .terragon/value-discovery-engine.py
  .terragon/value-metrics.json
  AUTONOMOUS_VALUE_DISCOVERY_IMPLEMENTATION.md
  BACKLOG.md
  NEXT_STEPS.md
Owners: @terragon-labs/maintainers, @terragon-labs/technical-writers

docs: establish project foundation and community files
  PROJECT_CHARTER.md
  docs/adr/002-faiss-vector-search.md
  docs/adr/003-fastapi-gateway.md
  docs/adr/004-prometheus-monitoring.md
Owners: @terragon-labs/technical-writers, @terragon-labs/maintainers

test: establish comprehensive testing infrastructure
  docs/TESTING.md
Owners: @terragon-labs/technical-writers, @terragon-labs/maintainers

build: comprehensive containerization and deployment infrastructure
  docs/DEPLOYMENT.md
Owners: @terragon-labs/technical-writers, @terragon-labs/maintainers

ops: comprehensive monitoring and observability infrastructure
  docs/MONITORING.md
Owners: @terragon-labs/technical-writers, @terragon-labs/maintainers

docs: comprehensive CI/CD workflow documentation and setup templates
  docs/SETUP_REQUIRED.md
  docs/WORKFLOW_SETUP_GUIDE.md
Owners: @terragon-labs/technical-writers, @terragon-labs/maintainers

feat: comprehensive metrics tracking and automation infrastructure
  .github/project-metrics.json
  scripts/health_dashboard.py
  scripts/metrics_collection.py
  scripts/repository_maintenance.py
Owners: @terragon-labs/maintainers

feat: complete SDLC implementation with integration and final configuration
  CODEOWNERS
  FINAL_IMPLEMENTATION_REPORT.md
  docs/SDLC_IMPLEMENTATION_SUMMARY.md
Owners: @terragon-labs/maintainers, @terragon-labs/technical-writers

feat(production): add comprehensive production deployment guide and quality gates
  PRODUCTION_DEPLOYMENT_GUIDE.md
  quality_gates_report.json
  quality_gates_runner.py
  src/lexgraph_legal_rag/cli.py
  src/lexgraph_legal_rag/context_reasoning.py
  src/lexgraph_legal_rag/document_pipeline.py
  src/lexgraph_legal_rag/health_monitoring.py
  src/lexgraph_legal_rag/ingest.py
  src/lexgraph_legal_rag/multi_agent.py
  src/lexgraph_legal_rag/performance_optimization.py
  src/lexgraph_legal_rag/quality_gates.py
  src/lexgraph_legal_rag/resilience.py
  src/lexgraph_legal_rag/scalable_index.py
  src/lexgraph_legal_rag/validation.py
Owners: @terragon-labs/technical-writers, @terragon-labs/maintainers, @terragon-labs/core-developers

feat(production): add comprehensive production deployment guide and quality gates (#57)
  PRODUCTION_DEPLOYMENT_GUIDE.md
  quality_gates_report.json
  quality_gates_runner.py
  src/lexgraph_legal_rag/cli.py
  src/lexgraph_legal_rag/context_reasoning.py
  src/lexgraph_legal_rag/document_pipeline.py
  src/lexgraph_legal_rag/health_monitoring.py
  src/lexgraph_legal_rag/ingest.py
  src/lexgraph_legal_rag/multi_agent.py
  src/lexgraph_legal_rag/performance_optimization.py
  src/lexgraph_legal_rag/quality_gates.py
  src/lexgraph_legal_rag/resilience.py
  src/lexgraph_legal_rag/scalable_index.py
  src/lexgraph_legal_rag/validation.py
Owners: @terragon-labs/technical-writers, @terragon-labs/maintainers, @terragon-labs/core-developers

feat(tests): add comprehensive test coverage for critical modules
  tests/test_health_check_comprehensive.py
  tests/test_quality_gates_comprehensive.py
Owners: @terragon-labs/qa-team, @terragon-labs/core-developers

feat(tests): add comprehensive API module test coverage breakthrough
  tests/test_api_comprehensive.py
Owners: @terragon-labs/qa-team, @terragon-labs/core-developers

chore(quality_gates): update timestamp in quality gates report
  quality_gates_report.json
Owners: @terragon-labs/maintainers

Add comprehensive tests for API, health checks, and quality gates (#58)
  quality_gates_report.json
  tests/test_api_comprehensive.py
  tests/test_health_check_comprehensive.py
  tests/test_quality_gates_comprehensive.py
Owners: @terragon-labs/maintainers, @terragon-labs/qa-team, @terragon-labs/core-developers

feat(automation): add autonomous quality gates, deployment and monitoring systems
  AUTONOMOUS_SDLC_COMPLETION_REPORT.md
  autonomous_quality_gate_runner.py
  deployment/Dockerfile.prod
  deployment/config/app_config.json
  deployment/config/logging_config.json
  deployment/deployment_report_20250808_014451.json
  deployment/k8s/configmap.yaml
  deployment/k8s/deployment.yaml
  deployment/k8s/hpa.yaml
  deployment/k8s/ingress.yaml
  deployment/k8s/network_policy.yaml
  deployment/k8s/pod_disruption_budget.yaml
  deployment/k8s/secret.yaml
  deployment/k8s/service.yaml
  deployment/migrations/001_create_initial_tables.sql
  deployment/migrations/002_add_search_indexes.sql
  deployment/migrations/run_migrations.py
  deployment/monitoring/grafana_dashboard.json
  deployment/monitoring/prometheus_alerts.yml
  deployment/package/deploy.sh
  deployment/package/deployment_manifest.json
  production_deployment.py
  quality_gates_report_20250808_014234.json
  quality_gates_report_20250808_014241.json
  src/lexgraph_legal_rag/adaptive_optimization.py
  src/lexgraph_legal_rag/advanced_monitoring.py
  src/lexgraph_legal_rag/circuit_breaker.py
  src/lexgraph_legal_rag/distributed_processing.py
  src/lexgraph_legal_rag/research_discovery.py
  src/lexgraph_legal_rag/security_hardening.py
Owners: @terragon-labs/technical-writers, @terragon-labs/maintainers, @terragon-labs/core-developers

feat(automation): add autonomous quality gates, deployment and monitoring systems (#59)
  AUTONOMOUS_SDLC_COMPLETION_REPORT.md
  autonomous_quality_gate_runner.py
  deployment/Dockerfile.prod
  deployment/config/app_config.json
  deployment/config/logging_config.json
  deployment/deployment_report_20250808_014451.json
  deployment/k8s/configmap.yaml
  deployment/k8s/deployment.yaml
  deployment/k8s/hpa.yaml
  deployment/k8s/ingress.yaml
  deployment/k8s/network_policy.yaml
  deployment/k8s/pod_disruption_budget.yaml
  deployment/k8s/secret.yaml
  deployment/k8s/service.yaml
  deployment/migrations/001_create_initial_tables.sql
  deployment/migrations/002_add_search_indexes.sql
  deployment/migrations/run_migrations.py
  deployment/monitoring/grafana_dashboard.json
  deployment/monitoring/prometheus_alerts.yml
  deployment/package/deploy.sh
  deployment/package/deployment_manifest.json
  production_deployment.py
  quality_gates_report_20250808_014234.json
  quality_gates_report_20250808_014241.json
  src/lexgraph_legal_rag/adaptive_optimization.py
  src/lexgraph_legal_rag/advanced_monitoring.py
  src/lexgraph_legal_rag/circuit_breaker.py
  src/lexgraph_legal_rag/distributed_processing.py
  src/lexgraph_legal_rag/research_discovery.py
  src/lexgraph_legal_rag/security_hardening.py
Owners: @terragon-labs/technical-writers, @terragon-labs/maintainers, @terragon-labs/core-developers

feat(production): add production-ready scalable legal RAG system with deployment
  Dockerfile.production
  PRODUCTION_DEPLOYMENT_REPORT.md
  demo_documents/contract1.txt
  demo_documents/contract2.txt
  demo_documents/statute.txt
  demo_index.bin
  demo_index.bin.sem
  docker-compose.production.yml
  enhanced_index.bin
  enhanced_index.bin.sem
  enhanced_pipeline.py
  production_app.py
  production_shutdown_backup_worker_0.bin
  production_shutdown_backup_worker_0.bin.sem
  production_shutdown_backup_worker_1.bin
  production_shutdown_backup_worker_1.bin.sem
  production_shutdown_backup_worker_2.bin
  production_shutdown_backup_worker_2.bin.sem
  production_shutdown_backup_worker_3.bin
  production_shutdown_backup_worker_3.bin.sem
  scalable_index_worker_0.bin
  scalable_index_worker_0.bin.sem
  scalable_index_worker_1.bin
  scalable_index_worker_1.bin.sem
  scalable_index_worker_2.bin
  scalable_index_worker_2.bin.sem
  scalable_index_worker_3.bin
  scalable_index_worker_3.bin.sem
  scalable_pipeline.py
  simple_demo.py
  src/lexgraph_legal_rag/multi_agent.py
  src/lexgraph_legal_rag/validation_fixed.py
  test_api.py
  test_integration_comprehensive.py
Owners: @terragon-labs/maintainers, @terragon-labs/technical-writers, @terragon-labs/core-developers

feat(production): add production-ready scalable legal RAG system with deployment (#60)
  Dockerfile.production
  PRODUCTION_DEPLOYMENT_REPORT.md
  demo_documents/contract1.txt
  demo_documents/contract2.txt
  demo_documents/statute.txt
  demo_index.bin
  demo_index.bin.sem
  docker-compose.production.yml
  enhanced_index.bin
  enhanced_index.bin.sem
  enhanced_pipeline.py
  production_app.py
  production_shutdown_backup_worker_0.bin
  production_shutdown_backup_worker_0.bin.sem
  production_shutdown_backup_worker_1.bin
  production_shutdown_backup_worker_1.bin.sem
  production_shutdown_backup_worker_2.bin
  production_shutdown_backup_worker_2.bin.sem
  production_shutdown_backup_worker_3.bin
  production_shutdown_backup_worker_3.bin.sem
  scalable_index_worker_0.bin
  scalable_index_worker_0.bin.sem
  scalable_index_worker_1.bin
  scalable_index_worker_1.bin.sem
  scalable_index_worker_2.bin
  scalable_index_worker_2.bin.sem
  scalable_index_worker_3.bin
  scalable_index_worker_3.bin.sem
  scalable_pipeline.py
  simple_demo.py
  src/lexgraph_legal_rag/multi_agent.py
  src/lexgraph_legal_rag/validation_fixed.py
  test_api.py
  test_integration_comprehensive.py
Owners: @terragon-labs/maintainers, @terragon-labs/technical-writers, @terragon-labs/core-developers

feat(research): add comprehensive legal AI research validation suite
  research_validation_suite.py
  src/lexgraph_legal_rag/multimodal_processing.py
  src/lexgraph_legal_rag/realtime_intelligence.py
  src/lexgraph_legal_rag/research_discovery.py
Owners: @terragon-labs/maintainers, @terragon-labs/core-developers

feat(research): add comprehensive legal AI research validation suite (#61)
  research_validation_suite.py
  src/lexgraph_legal_rag/multimodal_processing.py
  src/lexgraph_legal_rag/realtime_intelligence.py
  src/lexgraph_legal_rag/research_discovery.py
Owners: @terragon-labs/maintainers, @terragon-labs/core-developers

feat(intelligent-legal-rag): add AI-powered intelligent legal RAG system v4.0 with enhancements
  INTELLIGENT_ENHANCEMENTS_README.md
  TERRAGON_AUTONOMOUS_SDLC_COMPLETION_v4.md
  production_deployment_intelligent.py
  src/lexgraph_legal_rag/advanced_resilience.py
  src/lexgraph_legal_rag/advanced_security.py
  src/lexgraph_legal_rag/auto_optimizer.py
  src/lexgraph_legal_rag/distributed_intelligence.py
  src/lexgraph_legal_rag/intelligent_multi_agent.py
  src/lexgraph_legal_rag/intelligent_query_processor.py
  src/lexgraph_legal_rag/semantic_cache.py
  test_intelligent_systems.py
Owners: @terragon-labs/technical-writers, @terragon-labs/maintainers, @terragon-labs/core-developers

feat(intelligent-legal-rag): add AI-powered intelligent legal RAG system v4.0 with enhancements (#62)
  INTELLIGENT_ENHANCEMENTS_README.md
  TERRAGON_AUTONOMOUS_SDLC_COMPLETION_v4.md
  production_deployment_intelligent.py
  src/lexgraph_legal_rag/advanced_resilience.py
  src/lexgraph_legal_rag/advanced_security.py
  src/lexgraph_legal_rag/auto_optimizer.py
  src/lexgraph_legal_rag/distributed_intelligence.py
  src/lexgraph_legal_rag/intelligent_multi_agent.py
  src/lexgraph_legal_rag/intelligent_query_processor.py
  src/lexgraph_legal_rag/semantic_cache.py
  test_intelligent_systems.py
Owners: @terragon-labs/technical-writers, @terragon-labs/maintainers, @terragon-labs/core-developers

feat(bioneuro-olfactory-fusion): add complete Bioneural Olfactory Fusion System with research and deployment
  BIONEURO_PRODUCTION_GUIDE.md
  BIONEURO_RESEARCH_PAPER.md
  README.md
  TERRAGON_AUTONOMOUS_SDLC_COMPLETION_REPORT_v5.md
  bioneuro_olfactory_demo.py
  deployment/bioneuro-production/Dockerfile
  deployment/bioneuro-production/bioneuro_alerts.yml
  deployment/bioneuro-production/deploy.sh
  deployment/bioneuro-production/docker-compose.yml
  deployment/bioneuro-production/kubernetes.yml
  deployment/bioneuro-production/prometheus.yml
  quality_gates_report.json
  run_quality_gates.py
  src/lexgraph_legal_rag/__init__.py
  src/lexgraph_legal_rag/bioneuro_monitoring.py
  src/lexgraph_legal_rag/bioneuro_olfactory_fusion.py
  src/lexgraph_legal_rag/bioneuro_optimization.py
  src/lexgraph_legal_rag/multisensory_legal_processor.py
  test_bioneuro_minimal.py
  test_bioneuro_simple.py
  test_bioneuro_standalone.py
  tests/test_bioneuro_olfactory_fusion.py
  tests/test_bioneuro_optimization.py
  tests/test_multisensory_legal_processor.py
Owners: @terragon-labs/technical-writers, @terragon-labs/maintainers, @terragon-labs/core-developers, @terragon-labs/qa-team

feat(bioneuro-olfactory-fusion): add complete Bioneural Olfactory Fusion System with research and deployment (#64)
  BIONEURO_PRODUCTION_GUIDE.md
  BIONEURO_RESEARCH_PAPER.md
  README.md
  TERRAGON_AUTONOMOUS_SDLC_COMPLETION_REPORT_v5.md
  bioneuro_olfactory_demo.py
  deployment/bioneuro-production/Dockerfile
  deployment/bioneuro-production/bioneuro_alerts.yml
  deployment/bioneuro-production/deploy.sh
  deployment/bioneuro-production/docker-compose.yml
  deployment/bioneuro-production/kubernetes.yml
  deployment/bioneuro-production/prometheus.yml
  quality_gates_report.json
  run_quality_gates.py
  src/lexgraph_legal_rag/__init__.py
  src/lexgraph_legal_rag/bioneuro_monitoring.py
  src/lexgraph_legal_rag/bioneuro_olfactory_fusion.py
  src/lexgraph_legal_rag/bioneuro_optimization.py
  src/lexgraph_legal_rag/multisensory_legal_processor.py
  test_bioneuro_minimal.py
  test_bioneuro_simple.py
  test_bioneuro_standalone.py
  tests/test_bioneuro_olfactory_fusion.py
  tests/test_bioneuro_optimization.py
  tests/test_multisensory_legal_processor.py
Owners: @terragon-labs/technical-writers, @terragon-labs/maintainers, @terragon-labs/core-developers, @terragon-labs/qa-team

feat(legal_rag): add autonomous SDLC with bioneural olfactory fusion system
  TERRAGON_AUTONOMOUS_SDLC_COMPLETION_REPORT_v6.md
  quality_gates_report.json
  src/lexgraph_legal_rag/adaptive_monitoring.py
  src/lexgraph_legal_rag/bioneuro_olfactory_fusion.py
  src/lexgraph_legal_rag/distributed_scaling_engine.py
  src/lexgraph_legal_rag/intelligent_error_recovery.py
  src/lexgraph_legal_rag/quantum_performance_optimizer.py
Owners: @terragon-labs/technical-writers, @terragon-labs/maintainers, @terragon-labs/core-developers

feat(legal_rag): add autonomous SDLC with bioneural olfactory fusion system (#65)
  TERRAGON_AUTONOMOUS_SDLC_COMPLETION_REPORT_v6.md
  quality_gates_report.json
  src/lexgraph_legal_rag/adaptive_monitoring.py
  src/lexgraph_legal_rag/bioneuro_olfactory_fusion.py
  src/lexgraph_legal_rag/distributed_scaling_engine.py
  src/lexgraph_legal_rag/intelligent_error_recovery.py
  src/lexgraph_legal_rag/quantum_performance_optimizer.py
Owners: @terragon-labs/technical-writers, @terragon-labs/maintainers, @terragon-labs/core-developers

feat(bioneural-olfactory-fusion): add autonomous SDLC completion with scalable legal AI system
  TERRAGON_AUTONOMOUS_SDLC_COMPLETION_REPORT_v7.md
  bioneural_demo_results.json
  comprehensive_test_suite.py
  error_recovery_system.py
  global_compliance_demo_results.json
  global_compliance_system.py
  minimal_working_demo.py
  scalability_benchmark_results.json
  scalable_bioneural_engine.py
  security_audit_report.json
  security_validation.py
  test_report.json
Owners: @terragon-labs/technical-writers, @terragon-labs/maintainers

feat(bioneural-olfactory-fusion): add autonomous SDLC completion with scalable legal AI system (#66)
  TERRAGON_AUTONOMOUS_SDLC_COMPLETION_REPORT_v7.md
  bioneural_demo_results.json
  comprehensive_test_suite.py
  error_recovery_system.py
  global_compliance_demo_results.json
  global_compliance_system.py
  minimal_working_demo.py
  scalability_benchmark_results.json
  scalable_bioneural_engine.py
  security_audit_report.json
  security_validation.py
  test_report.json
Owners: @terragon-labs/technical-writers, @terragon-labs/maintainers

fix(security): use secure hashlib.md5 with usedforsecurity=False
  bandit-report.json
  global_compliance_demo_results.json
  quality_gates_report.json
  security-report.json
  src/lexgraph_legal_rag/advanced_security.py
  src/lexgraph_legal_rag/bioneuro_olfactory_fusion.py
  src/lexgraph_legal_rag/quantum_performance_optimizer.py
  tests/test_bioneuro_olfactory_fusion.py
Owners: @terragon-labs/maintainers, @terragon-labs/core-developers, @terragon-labs/qa-team

fix(security): use secure hashlib.md5 with usedforsecurity=False (#67)
  bandit-report.json
  global_compliance_demo_results.json
  quality_gates_report.json
  security-report.json
  src/lexgraph_legal_rag/advanced_security.py
  src/lexgraph_legal_rag/bioneuro_olfactory_fusion.py
  src/lexgraph_legal_rag/quantum_performance_optimizer.py
  tests/test_bioneuro_olfactory_fusion.py
Owners: @terragon-labs/maintainers, @terragon-labs/core-developers, @terragon-labs/qa-team

feat(cicd): remove GitHub Actions workflow requiring workflows permission
  .github/workflows/cicd.yml
Owners: @terragon-labs/devops-team, @terragon-labs/maintainers

docs(ci-cd): add detailed GitHub workflows setup instructions
  WORKFLOW_SETUP_INSTRUCTIONS.md
Owners: @terragon-labs/technical-writers

feat(bioneural-ai): add autonomous SDLC completion with research, compliance, resilience, and optimization
  TERRAGON_AUTONOMOUS_SDLC_COMPLETION_REPORT_v8.md
  enhanced_research_validation_framework.py
  global_compliance_and_i18n_system.py
  production_grade_resilience_system.py
  quality_gates_report.json
  quantum_scaling_optimization_engine.py
Owners: @terragon-labs/technical-writers, @terragon-labs/maintainers

feat(bioneural-ai): add autonomous SDLC completion with research, compliance, resilience, and optimization (#73)
  TERRAGON_AUTONOMOUS_SDLC_COMPLETION_REPORT_v8.md
  enhanced_research_validation_framework.py
  global_compliance_and_i18n_system.py
  production_grade_resilience_system.py
  quality_gates_report.json
  quantum_scaling_optimization_engine.py
Owners: @terragon-labs/technical-writers, @terragon-labs/maintainers

feat(adaptive_learning_system): add comprehensive adaptive learning system with self-improvement
  =0.24.0
  =3.12.0
  =3.5.0
  =5.0.0
  =5.9.0
  =8.2
  TERRAGON_AUTONOMOUS_SDLC_COMPLETION_REPORT_FINAL.md
  quality_gates_report_20250822_181525.json
  run_comprehensive_quality_gates.py
  security-report.json
  src/lexgraph_legal_rag/adaptive_learning_system.py
  src/lexgraph_legal_rag/enhanced_resilience_patterns.py
  src/lexgraph_legal_rag/global_i18n_system.py
  src/lexgraph_legal_rag/intelligent_caching_system.py
  src/lexgraph_legal_rag/quantum_scaling_optimizer.py
  src/lexgraph_legal_rag/security_hardening_enhanced.py
  test_adaptive_learning_demo.py
  test_enhanced_resilience_g2.py
  test_generation3_scaling.py
  test_global_i18n_system.py
Owners: @terragon-labs/maintainers, @terragon-labs/technical-writers, @terragon-labs/core-developers

feat(adaptive_learning_system): add comprehensive adaptive learning system with self-improvement (#74)
  =0.24.0
  =3.12.0
  =3.5.0
  =5.0.0
  =5.9.0
  =8.2
  TERRAGON_AUTONOMOUS_SDLC_COMPLETION_REPORT_FINAL.md
  quality_gates_report_20250822_181525.json
  run_comprehensive_quality_gates.py
  security-report.json
  src/lexgraph_legal_rag/adaptive_learning_system.py
  src/lexgraph_legal_rag/enhanced_resilience_patterns.py
  src/lexgraph_legal_rag/global_i18n_system.py
  src/lexgraph_legal_rag/intelligent_caching_system.py
  src/lexgraph_legal_rag/quantum_scaling_optimizer.py
  src/lexgraph_legal_rag/security_hardening_enhanced.py
  test_adaptive_learning_demo.py
  test_enhanced_resilience_g2.py
  test_generation3_scaling.py
  test_global_i18n_system.py
Owners: @terragon-labs/maintainers, @terragon-labs/technical-writers, @terragon-labs/core-developers

feat(bioneural_system): add Generation 1 and 2 bioneural systems with demos
  enhanced_bioneural_core_g1.py
  quality_gates_report.json
  robust_bioneural_system_g2_enhanced.py
  simple_bioneural_demo_g1.py
Owners: @terragon-labs/maintainers

.github/CODEOWNERS:

# Global ownership
* @terragon-labs/maintainers

# Core source code
/src/ @terragon-labs/core-developers
/src/lexgraph_legal_rag/api.py @terragon-labs/backend-team
/src/lexgraph_legal_rag/auth.py @terragon-labs/security-team
/src/lexgraph_legal_rag/security/ @terragon-labs/security-team

# Documentation
/docs/ @terragon-labs/technical-writers @terragon-labs/maintainers
/README.md @terragon-labs/technical-writers
/*.md @terragon-labs/technical-writers

# Configuration files
/pyproject.toml @terragon-labs/maintainers
/requirements.txt @terragon-labs/maintainers
/package.json @terragon-labs/maintainers
/Dockerfile @terragon-labs/devops-team
/docker-compose.yml @terragon-labs/devops-team

# Infrastructure and deployment
/k8s/ @terragon-labs/devops-team @terragon-labs/platform-team
/monitoring/ @terragon-labs/devops-team @terragon-labs/sre-team
/.github/workflows/ @terragon-labs/devops-team @terragon-labs/maintainers

# Security configurations
/.github/workflows/security.yml @terragon-labs/security-team
/SECURITY.md @terragon-labs/security-team
/security_scan.py @terragon-labs/security-team

# Testing
/tests/ @terragon-labs/qa-team @terragon-labs/core-developers
/tests/performance/ @terragon-labs/performance-team
/conftest.py @terragon-labs/qa-team

# Legal and compliance
/LICENSE @terragon-labs/legal-team
/CODE_OF_CONDUCT.md @terragon-labs/legal-team @terragon-labs/community-team
/CONTRIBUTING.md @terragon-labs/community-team
